body {
  margin: 0;
  background-color: #dedede;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.debug {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 20px;
  background: #333;
  color: #fff;
}

.scene {
  margin: 50px 0;
}

.scene > div {
  position: relative;
  background-color: #fff;
  padding: 20px;
}

.scene--debug {
  /* margin-top: -1px;
  margin-bottom: -1px; */
  border-right: solid 1px green;
}

.scene--debug:before {
  content: attr(data-scene);
  position: absolute;
  top: 0;
  right: -1px;
  padding: 5px;
  background-color: red;
  color: #fff;
  z-index: 1;
}

.scene--debug:after {
  content: 'progress: ' attr(data-progress);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(155, 255, 55, 0.75);
  z-index: 1;
}

.triggers {
  display: none;
}

.trigger {
  width: 25%;
  height: 1px;
  position: fixed;
  top: 50%;
  right: 5px;
  background-color: red;
}

.trigger:after {
  content: attr(data-scene);
  display: block;
  white-space: nowrap;
  position: absolute;
  right: 5px;
  top: 7px;
}