body {
  margin: 0;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  perspective: 1000px;
}

.parallax {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.parallax:nth-of-type(2) {
  position: relative;
  left: 300px;
}

.parallax:nth-of-type(4) {
  position: relative;
  left: 150px;
}

.parallax:nth-of-type(8) {
  position: relative;
  left: 150px;
}