[data-scene] {
  max-width: 800px;
  padding: 10vh 50px;
  margin: 10vh auto;
  font-family: sans-serif;
  font-size: 100px;
  color: #fff;
  text-align: center;
  background: linear-gradient(to top, rgb(252, 92, 125), rgb(106, 130, 251));
  border-radius: 5px;
}

[data-scene]:first-child {
  background: linear-gradient(to bottom, rgb(168, 192, 255), rgb(63, 43, 150));
}

[data-scene]:last-child {
  margin-bottom: 50vh;
}